@import './../../../styles/colors';

.description{
}

.histories{
  
  margin-block: 25px;
  border-radius: 2px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: calc(100vh - 575px);
  overflow-y: scroll;

  .initial{

  }

  .history{

    border: $border;
    border-radius: 3px;
    
    .history-title{
      p{
        font-size: 12px;
        color: $color-text;
        font-weight: bold;
        time{
          font-weight: normal;
        }
      }
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #FAFAFA;

      button{
        transition: 0.3s;
        background-color: #FF4D4F;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 12px;
        i{
          color: white;
        }
      }

      button:active{
        animation-name: button;
        animation-duration: 1s;
      }

      button:hover{
        background-color: #ff585b;
      }
    }
    
    .history-body{
      padding: 12px;
      font-size: 15px;
      .end-amount{
        padding-top: 8px;
        color: $color-text;
        font-weight: bold;
        span{
          font-weight: normal;
        }
      }

    }

  }

  .end{

  }
}

@keyframes button {
  0%{
    background-color: #f77173;
  }
  100%{
    background-color: #FF4D4F;
  }
}