<h1>Titulo de este perfil</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos aliquam officiis quasi dolore reprehenderit perspiciatis fuga magnam minus ex in dolor itaque sequi blanditiis, doloremque adipisci quia nesciunt expedita unde!</p>

<p>Fecha inicio <time datetime="2023-08-24T15:00">24 de agosto de 2023 a las 3:00 PM</time></p>

<div>
  <p>Monto Inicial: <span>30 Bs.</span></p>
  <p>Monto Final: <span>100 Bs.</span></p>
</div>

<hr>

<table>
  <thead>
    <tr>
      <th>Encabezado de Columna 1</th>
      <th>Encabezado de Columna 2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Dato de la Columna 1, Fila 1</td>
      <td>Dato de la Columna 2, Fila 1</td>
    </tr>
    <tr>
      <td>Dato de la Columna 1, Fila 2</td>
      <td>Dato de la Columna 2, Fila 2</td>
    </tr>
  </tbody>
</table>

<div class="buttons">
  <div class="button"><p>Agregar nuevo</p></div>
</div>