@import './../../../styles/colors';


.histories{
  
  display: flex;
  flex-direction: column;
  gap: 12px;

  .initial{

  }

  .history{

    border: 1px solid black;

    .title{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  }

  .end{

  }
}