$primary: #F4F4F4;
$secundary: #031A4E;
$primary-component:#FFFFFF;
$border: 1px solid #cccccc;
$color-text: #292929;
$color-p: #808080;


$color-primary: #031A4E;
$color-primary-light: #1c3f91;
$color-primary-click: #4b6ebe;

$color-cancel: #df0016;
$color-cancel-light: #da3c4c;
$color-cancel-click: #d4828a;