/* You can add global styles to this file, and also import other style files */
@import './colors';

*{
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: $primary;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}
