/* You can add global styles to this file, and also import other style files */
@import './colors';

*{
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: $primary;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}

body{
  height: 100vh;
}

a{
  color: white;
  text-decoration: none;
}

form{
  
  display: flex;
  flex-direction: column;
  gap: 12px;

  .form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  input, textarea{
    padding: 8px;
    resize: none;
  }


}

.group{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.buttons{
  display: flex;
  justify-content: flex-end;
  .button{
    overflow: hidden;
    cursor: pointer;
    border: none;
    position: relative;
    border-radius: 2px;
    background-color: $secundary;
    color: white;
    padding-inline: 40px;
    padding-block: 8px;
    p{
      z-index: 1;
      position: relative;
    }
  }

  .button:active::before{
    background-color: red;
  }

  .button::before{
    z-index: 0;
    content: '';
    position: absolute;
    top: 34px;
    left: -138px;
    background-color: $secundary-light;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }

  .button:hover::before{
    top: 0px;
    left: 0px;
  }
}

// size

.h-120{
  height: 120px;
}