@import './../../../styles/colors';

.content{
  margin-block: 12px;
  border-radius: 3px;
  justify-content: center;
  width: 100%;
  border: $border;
  padding-block: 25px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  i{
    font-size: 70px;
  }
  h1{
    font-weight: normal
  }
}