@import './../styles/colors';

header{
  padding: 20px;
  background: $secundary;
  color: white;
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
      display: flex;
      list-style: none;
      gap: 5px;
    }
  }

}

section{
  padding-inline: 20px;
}

