@import './../styles/colors';

header{
  padding: 20px;
  background: $secundary;
  color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  nav{
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
      display: flex;
      list-style: none;
      gap: 5px;

      a{
        padding: 25px;
      }

      a:hover{
        background-color: $color-primary-light;
      }
    }
  }

}

section{
  position: relative;
  z-index: 0px;
  top: 65px;
  border: 1px solid transparent;
}

