@import './../../../styles/colors';

.title{
  text-align: center;
  padding-block: 8px;
}

.accounting-list{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  height: calc(100vh - 160px);
  .card{
    border: 1px solid black;
    cursor: pointer;
  }
}
