
<div class="content">
    
  <div class="title-page">
    <h1>Lista de cuentas creadas</h1>
  </div>

  <div class="form-group-icon" (input)="inputText($event)">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" placeholder="Buscar">
  </div>

  <ng-container *ngIf="getAccounting().length === 0; else elseEmpty">
    
    <app-empty title="La lista esta vacia"></app-empty>

  </ng-container>
  <ng-template #elseEmpty>
    <div class="accounting-list">

      
      <div class="card" *ngFor="let accounting of getAccounting(); trackBy: trackByFn">
        
        <div class="image">
          <img src="" alt="">
        </div>

        <div class="title">
          <h1>{{accounting.title}}</h1>
        </div>

        <div class="body">
          <div class="body-title">
            <p>{{accounting.description}}</p>
          </div>
          <div class="body-footer">
            <small>{{calculateAmountTotal(accounting)}} Bs.</small>
          </div>
        </div>

        <div class="options">
          <button type="button" [routerLink]="['/dashboard/accounting', accounting.id]">Ver</button>
          <div class="separe"></div>
          <button type="button" (click)="deleteAccounting(accounting.id)">Borrar</button>
        </div>

      
      </div>

    </div>
  </ng-template>



</div>
