<h1 class="title">Lista de cuentas creadas</h1>
<div class="accounting-list">
  <div class="card" [routerLink]="['/dashboard/accounting', 1]">
    <h1>Nombre del grupo 1</h1>
    <p>description</p>
    <small>50$</small>
  </div>
  <div class="card" [routerLink]="['/dashboard/accounting', 1]">
    <h1>Nombre del grupo 1</h1>
    <p>description</p>
    <small>50$</small>
  </div>
  <div class="card" [routerLink]="['/dashboard/accounting', 1]">
    <h1>Nombre del grupo 1</h1>
    <p>description</p>
    <small>50$</small>
  </div>
  <div class="card" [routerLink]="['/dashboard/accounting', 1]">
    <h1>Nombre del grupo 1</h1>
    <p>description</p>
    <small>50$</small>
  </div>
  <div class="card" [routerLink]="['/dashboard/accounting', 1]">
    <h1>Nombre del grupo 1</h1>
    <p>description</p>
    <small>50$</small>
  </div>
  <div class="card" [routerLink]="['/dashboard/accounting', 1]">
    <h1>Nombre del grupo 1</h1>
    <p>description</p>
    <small>50$</small>
  </div>
  <div class="card" [routerLink]="['/dashboard/accounting', 1]">
    <h1>Nombre del grupo 1</h1>
    <p>description</p>
    <small>50$</small>
  </div>
  <div class="card" [routerLink]="['/dashboard/accounting', 1]">
    <h1>Nombre del grupo 1</h1>
    <p>description</p>
    <small>50$</small>
  </div>
  <div class="card" [routerLink]="['/dashboard/accounting', 1]">
    <h1>Nombre del grupo 1</h1>
    <p>description</p>
    <small>50$</small>
  </div>
  <div class="card" [routerLink]="['/dashboard/accounting', 1]">
    <h1>Nombre del grupo 1</h1>
    <p>description</p>
    <small>50$</small>
  </div>
  <div class="card" [routerLink]="['/dashboard/accounting', 1]">
    <h1>Nombre del grupo 1</h1>
    <p>description</p>
    <small>50$</small>
  </div>
</div>

<div class="buttons">
  <div class="button"><p>Agregar</p></div>
</div>